body {font-family: Arial, Helvetica, sans-serif;}

* {box-sizing: border-box;}

.container {
    border-radius: 5px;
    background-color: #f0eaea;
    padding: 20px;
  }

  input[type=text]{
    width: 100%;
    padding: 10px;
    border: 5px solid rgb(235, 232, 232);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  
input[type=submit] {
    background-color: #5f55eb;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  
input[type=submit]:hover {
    background-color: #726eb3;
  }

  .fetch-container {
    border-radius: 5px;
    background-color: #f0eaea;
    padding: 20px;
    margin-top: 20px;
  }

  
  input[type=text]{
    width: 100%;
    padding: 10px;
    border: 5px solid rgb(235, 232, 232);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  .fetch-btn{
    background-color: #21d87d;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

    
  .fetch-btn:hover {
    background-color: #a1e9ad;
  }